<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="TypingPanel.css">
</head>
<body>

    <script src="../../shuangpinKeyMap.js"></script>
    <script src="https://cdn.bootcss.com/EventEmitter/5.2.3/EventEmitter.min.js"></script>
    <script src="TypingPanel.js"></script>
    <script>

    var article = [
        {
            "word": "偶",
            "desc": ["ǒu"],
            "dmap": ["ou"]
        },
        {
            "word": "昂",
            "desc": ["áng"],
            "dmap": ["ang"]
        },
        {
            "word": "天",
            "desc": ["t", "iān"],
            "dmap": ["t", "ian"]
        },
        {
            "word": "只",
            "desc": ["zh", "ǐ"],
            "dmap": ["zh", "i"]
        },
        {
            "word": "啊",
            "desc": ["a"],
            "dmap": ["a"]
        },
        {
            "word": "！"
        },
        {
            "word": "偶",
            "desc": ["ǒu"],
            "dmap": ["ou"]
        },
        {
            "word": "昂",
            "desc": ["áng"],
            "dmap": ["ang"]
        },
        {
            "word": "天",
            "desc": ["t", "iān"],
            "dmap": ["t", "ian"]
        },
        {
            "word": "只",
            "desc": ["zh", "ǐ"],
            "dmap": ["zh", "i"]
        },
        {
            "word": "啊",
            "desc": ["a"],
            "dmap": ["a"]
        },
        {
            "word": "！"
        }
    ];

    // article.push(...article);article.push(...article);article.push(...article);article.push(...article);


    tpl = new TypingPanel(shuangpinKeyMap['小鹤双拼']['key_map'], shuangpinKeyMap['小鹤双拼']['0']);
    tpl.on('needkey', info => console.log(info));
    tpl.on('typingover', _ => new Audio('../../sound/finished.mp3').play());
    tpl.init(article);

    document.body.appendChild(tpl.el);

    window.addEventListener('keypress', ev => {
        if(tpl.current.state != TypingPanel.wordState.wordEnterFinish) {
            if(tpl.enterKey(ev.key) === false) {
                var audio = new Audio('../../sound/miss.mp3');
            }
            else {
                // 两套声音方案
                var audio = new Audio('../../sound/press.mp3');
            }
            audio.play();
        }
    });
    </script>
</body>
</html>
