.typing-panel {
    width: 780px;
    border: 3px solid green;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px;
}

.tp-word-box,
.tp-symbol-box {
    border: 2px solid green;
    border-radius: 4px;
    width: 60px;
    float: left;
    margin: 3px 5px;
}

.tp-pinyin {
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.tp-pinyin > .tp-sm {
    color: red;
}

.tp-pinyin > .tp-ym {
    color: green;
}

.tp-word {
    line-height: 55px;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

.tp-keys {
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.tp-word-box.waiting-enter-sm .tp-sm {
    text-decoration: underline;
}

.tp-word-box.waiting-enter-ym .tp-ym {
    text-decoration: underline;
}

.tp-word-box.word-enter-finish .tp-word {
    color: green;
}

.tp-word-box.word-enter-finish + .tp-symbol-box {
    color: green;
}

.hidden-over.typing-panel .tp-word-box.word-enter-finish,
.hidden-over.typing-panel .tp-word-box.word-enter-finish + .tp-symbol-box {
    display: none;
}

.no-pinyin.typing-panel .tp-pinyin {
    display: none;
}

.no-shuangpin.typing-panel .tp-keys {
    display: none;
}