.typing-panel,
.typing-panel * {
    box-sizing: border-box;
}

.typing-panel {
    font-size: 16px;
    min-height: 320px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    overflow-y: scroll;
    padding: .25em; /* 4px */
}

.tp-word-box,
.tp-symbol-box {
    width: 3em; /* 48px */
    margin-bottom: 1em; /* 26px */
    float: left;
    text-align: center;
}

.tp-pinyin, .tp-keys {
    font-size: 75%;
    height: 18px;
    line-height: 18px;
}

.tp-pinyin {
    white-space: nowrap;
    word-spacing: -.2em;
}

.tp-pinyin > .tp-sm {
    color: #fe6c9d;
}

.tp-pinyin > .tp-ym {
    color: #094d82;
}

.tp-word {
    color: #acacac;
    height: 35px;
    line-height: 35px;
    font-size: 150%;
    position: relative;
    display: inline-block;
}

.tp-word::after {
    content: attr(data-word);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    color: #000;
}

.tp-word-box.waiting-enter-sm .tp-sm {
    text-decoration: underline;
}

.tp-word-box.waiting-enter-ym .tp-ym {
    text-decoration: underline;
}

.tp-word-box.waiting-enter-ym .tp-word::after {
    width: 50%;
}

.tp-word-box.word-enter-finish .tp-word::after {
    width: 100%;
}

/* 文字后面跟着的最多三个符号会被渲染为已完成 */
.tp-word-box.word-enter-finish + .tp-symbol-box > .tp-word,
.tp-word-box.word-enter-finish + .tp-symbol-box + .tp-symbol-box > .tp-word,
.tp-word-box.word-enter-finish + .tp-symbol-box + .tp-symbol-box + .tp-symbol-box > .tp-word {
    color: black;
}

.hidden-over.typing-panel .tp-word-box.word-enter-finish,
.hidden-over.typing-panel .tp-word-box.word-enter-finish + .tp-symbol-box,
.hidden-over.typing-panel .tp-word-box.word-enter-finish + .tp-symbol-box + .tp-symbol-box,
.hidden-over.typing-panel .tp-word-box.word-enter-finish + .tp-symbol-box + .tp-symbol-box + .tp-symbol-box  {
    display: none;
}

.no-pinyin.typing-panel .tp-pinyin {
    display: none;
}

.no-shuangpin.typing-panel .tp-keys {
    display: none;
}