.typing-panel {
    width: 820px;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px;
}

.tp-word-box,
.tp-symbol-box {
    border-radius: 2px;
    width: 50px;
    float: left;
    margin: 3px 5px;
    text-align: center;
}

.tp-pinyin {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
}

.tp-pinyin > .tp-sm {
    color: #fe6c9d;
}

.tp-pinyin > .tp-ym {
    color: #094d82;
}

.tp-word {
    color: #acacac;
    height: 50px;
    line-height: 50px;
    font-size: 150%;
    position: relative;
    display: inline-block;
}

.tp-word::after {
    content: attr(data-word);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    color: #000;
}

.tp-keys {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
}

.tp-word-box.waiting-enter-sm .tp-sm {
    text-decoration: underline;
}

.tp-word-box.waiting-enter-ym .tp-ym {
    text-decoration: underline;
}

.tp-word-box.waiting-enter-ym .tp-word::after {
    width: 50%;
}

.tp-word-box.word-enter-finish .tp-word::after {
    width: 100%;
}

.tp-word-box.word-enter-finish + .tp-symbol-box > .tp-word {
    color: black;
}

.hidden-over.typing-panel .tp-word-box.word-enter-finish,
.hidden-over.typing-panel .tp-word-box.word-enter-finish + .tp-symbol-box {
    display: none;
}

.no-pinyin.typing-panel .tp-pinyin {
    display: none;
}

.no-shuangpin.typing-panel .tp-keys {
    display: none;
}